![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [2]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

### Which NYC schools have the best math results?

In [60]:
best_score_threshold = 80/100 * 800
best_math_schools = schools.loc[schools['average_math'] >= best_score_threshold, ['school_name', 'average_math']]
best_math_schools.sort_values('average_math', ascending=False, inplace=True)

### What are the top 10 performing schools based on the combined SAT scores?

In [82]:
schools['total_SAT'] = schools[['average_math', 'average_reading', 'average_writing']].sum(axis=1)
schools.sort_values('total_SAT', ascending=False, inplace=True)
top_10_schools = schools[['school_name', 'total_SAT']].head(10)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
93                 Staten Island Technical High School       2041
170                       Bronx High School of Science       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
68   High School for Mathematics, Science, and Engi...       1889
45                       Eleanor Roosevelt High School       1889

### Which single borough has the largest standard deviation in the combined SAT score?

In [79]:
boroughs = schools.groupby(['borough'])['total_SAT'].agg(["mean","std"]).round(2)

In [80]:
largest_std_dev = boroughs[boroughs['std'] == boroughs['std'].max()]
largest_std_dev['num_schools'] = schools["borough"].value_counts()
largest_std_dev = largest_std_dev.rename(columns={'mean': 'average_SAT', 'std': 'std_SAT'})
largest_std_dev

/tmp/ipykernel_3011774/3075935870.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  largest_std_dev['num_schools'] = schools["borough"].value_counts()

           average_SAT  std_SAT  num_schools
borough
Manhattan      1340.13   230.29           89